<section class="hero is-small" id="blog-slider">
  <div class="hero-body">
    <div class="container rows has-text-centered">
      <div class="row is-centered">
        <h3 class="title has-text-black-bis is-uppercase has-text-weight-medium">
          Recent blog posts</h3>
        </div>
        <br>
        <div class="column has-text-black has-text-left is-size-4 is-inline-block">
          {% for post in site.posts offset: 0 limit:5 %}
          <li>
            <a href="{{post.url | absolute_url}}">{{post.title}}</a>
          </li>
          {% endfor %}
        </div>
        <br>
        <a href="{{site.url}}{{site.baseurl}}/blog.html"
        class="button is-black is-rounded is-outlined is-uppercase has-text-weight-normal">See More</a>
      </div>
    </div>
</section>
