<div class="columns has-text-centered has-background-white" id="project-card">
  <div class="column is-marginless is-paddingless is-one-fifth-desktop is-one-fifth-fullhd is-one-fifth-tablet">
    <div class="image is-16by9" style="background-image: url({{project.image}});"></div>
  </div>
  <a href="{{project.url | absolute_url}}">
    <div class="column has-text-left-desktop has-text-left-tablet">
      <h1 class="title is-size-4-touch">{{project.title}}</h1>
      <div class="content has-text-grey">
        {{ project.details | truncate: 300 | strip_html | strip_newlines | strip | escape }}
        <hr class="has-background-grey">
        {% assign i = 0 %}
        {% for lang-icon in project.lang-icons %}
        <span style="font-size: 0.8rem;">
          <i class="fab fa-{{project.lang-icons[i]}} fa-2x"></i>
        </span>
        {% assign i = i | plus:1 %}
        {% endfor %}
        | <span class="has-text-grey"> Last commit: <span class="has-text-weight-semibold">
          <script src="{{site.url}}{{site.baseurl}}/assets/js/github-functions.js" type = "text/javascript"></script>
          <span id="{{project.title}}_last_commit"></span>
          <script>
            get_last_commmit("{{project.repo}}","{{project.title}}_last_commit");
          </script>
        </span></span>
      </div>
    </div>
  </a>
</div>
